<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include partials/_header.ejs %>  
  <!-- Show URL and shortened form -->
  <h2>Update TinyURL:</h2><br><br><br><br> 
  <h3>Short URL: <strong><%= tinyURL %></strong></strong></h3>
  <form method="POST" action="/urls/<%=tinyURL%>/update"> 
    <input type="text" name="longURL" style="width:680px;height:20px;font-size:24px" value="<%=longURL%>">
    <input type="submit" name="update" value="UPDATE">
  </form>
</ul>
</body>
</html>
