<!DOCTYPE html
  <html lang="en">
    <head>
      <title>User Registration</title>
    </head>
     <body>
      <h3>User Registration</h3>
      <form method="POST", action="/register">
       <label for="email">e-mail</label>
       <input type="email" id="email" name="email" style="width:680px;height:16px;font-size:12px"><br><br>
       <label for="password">password</label>
       <input type="password" id="password" name="password" style="width:680px;height:16px;font-size:12px"><br><br><br>
       <input type="submit" name="submit">
      </form>
     </body>
     </html>